node_modules
**/node_modules
.next
**/.next
.git
.vscode
.env
**/.env
.env.*
**/.env.*
*.pem
**/*.pem
*.key
**/*.key
*.p12
**/*.p12
__pycache__
**/__pycache__
.pytest_cache
**/.pytest_cache
*.db
*.db-*
*.sqlite
*.sqlite3
*.sqlite-*
*.sqlite3-*
.venv
**/.venv
*.tsbuildinfo
coverage
**/coverage
